@model PropellerTorkenMain.Models.Cart
@{
    ViewData["Title"] = "CartPage";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col" id="CartList">
            <div class="shopping-cart">
                <!-- Title -->
                <div class="title">
                    Shopping Bag
                </div>
                <div>
                    <div class="item">
                        <p>The cart is empty</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="customerinfo-cart" id="CustomerInfo">
            @{Html.BeginForm("Submit", "Cart");}
            <div align="center">
                <label>Återkommande kund? Skriv in ditt kundnummer här.</label><br />
                @Html.TextBoxFor(_ => _.CustomerId)
            </div>
            <div align="center">
                @Html.LabelFor(_ => _.Customer.Firstname, htmlAttributes: new { @class = "customerinfo-cart-label" })<br />
                @Html.TextBoxFor(m => m.Customer.Firstname)
            </div>
            <div align="center">
                @Html.LabelFor(_ => _.Customer.Lastname, htmlAttributes: new { @class = "customerinfo-cart-label" })<br />
                @Html.TextBoxFor(m => m.Customer.Lastname)
            </div>
            <div align="center">
                @Html.LabelFor(_ => _.Customer.Address, htmlAttributes: new { @class = "customerinfo-cart-label" })<br />
                @Html.TextBoxFor(m => m.Customer.Address)
            </div>
            <div align="center">
                @Html.LabelFor(_ => _.Customer.Zipcode, htmlAttributes: new { @class = "customerinfo-cart-label" })<br />
                @Html.TextBoxFor(m => m.Customer.Zipcode)
            </div>
            <div align="center">
                @Html.LabelFor(_ => _.Customer.City, htmlAttributes: new { @class = "customerinfo-cart-label" })<br />
                @Html.TextBoxFor(m => m.Customer.City)
            </div>
            <div align="center">
                @Html.LabelFor(_ => _.Customer.Email, htmlAttributes: new { @class = "customerinfo-cart-label" })<br />
                @Html.TextBoxFor(m => m.Customer.Email)
            </div>
            <div align="center">
                @Html.LabelFor(_ => _.Customer.PhoneNr, htmlAttributes: new { @class = "customerinfo-cart-label" })<br />
                @Html.TextBoxFor(m => m.Customer.PhoneNr)
            </div>
            <div class="d-flex justify-content-center">
                <button class="btn btn-success" type="submit">
                    <span id="confirm">Bekräfta</span>
                </button>
            </div>
            @{Html.EndForm(); }
        </div>
    </div>
</div>

